:root{
    --color-primary:#0d6efd;
    --color-secondary:rgba(204, 204, 204, 0.651);
    --color-heading:rgba(0, 0, 0, 0.616);
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, white, rgba(30, 143, 255, 0.493));
    
}
.heading{
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--color-primary);
    color: white;
    padding: 1.5rem;
    border-radius: 5px;
}
@media screen and (min-width: 1024px) {
    .heading{
        font-size: 1.2rem;
        text-align: center;
        background-color: var(--color-primary);
        padding: 0.5rem;
        border-radius: 5px;
    }
    
}
fieldset{
    width: 30%;
    height: 16.5rem;
    border-radius: 10px;
    background-color: white;
    outline: 0;
    border: 1px solid var(--color-heading);
    box-shadow: 4px 4px 4px 2px grey;
    justify-content: center;
    align-content: center;
    margin-left: 35%;
    margin-top: 10%;
}
@media screen and (min-width: 1024px) {
    fieldset{
    width: 30%;
    height: 16.5rem;
    border-radius: 10px;
    background-color: white;
    outline: 0;
    border: 1px solid var(--color-heading);
    box-shadow: 4px 4px 4px 2px grey;
    justify-content: center;
    align-content: center;
    margin-left: 35%;
    margin-top: 10%;
    }
}
input{
    color: rgba(0, 0, 0, 0.685);
    font-size: 1.1rem;
}
@media screen and (min-width: 1024px) {
    input{
        color: rgba(0, 0, 0, 0.685);
        font-size: 1.1rem;
    }
    
}
input[type='email']{
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    outline: 0;
    border: 2px solid var(--color-primary);
    margin-top: 1rem;
    margin-left: 1.8rem;
}
@media screen and (min-width: 1024px){  
input[type='email']{
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    outline: 0;
    border: 2px solid var(--color-primary);
    margin-top: 1rem;
    margin-left: 1.8rem;
}
}
input[type='email']:focus{
    border: 2px solid rgba(0, 0, 255, 0.384);
}
::placeholder{
    font-style: normal;
    text-align: center;
}
input[type='password']{
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    outline: 0;
    border: 2px solid var(--color-primary);
    margin-left: 1.8rem;
}
@media screen and (min-width: 1024px){
    input[type='password']{
        width: 20rem;
        height: 2rem;
        border-radius: 5px;
        outline: 0;
        border: 2px solid var(--color-primary);
        margin-left: 1.8rem;
    }    
}
input[type='password']:focus{
    border: 2px solid rgba(0, 0, 255, 0.384);
}
label{
    font-size: 1.1rem;
}
button{
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: 0;
    background-color: var(--color-primary);
    color: white;
    font-size: 1.1rem;
    padding: 0.2rem 0.2rem;
    margin-left: 10rem;
    margin-top: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}
@media screen and (min-width: 1024px){
    button{
        width: 5rem;
        height: 2rem;
        border-radius: 5px;
        border: 0;
        background-color: var(--color-primary);
        color: white;
        font-size: 1.1rem;
        padding: 0.2rem 0.2rem;
        margin-left: 11rem;
        margin-top: 5px;
        cursor: pointer;
        transition: background-color 0.15s;
    }
    
}
button:hover{
    background-color: #0d6dfd93;
}

.remember-me{
    margin-left: 3px;
    font-size: 1rem;
    padding: 5px;
    top: 0;
    margin-left: 1px;
}
input[type='checkbox']{
    margin-left: 10rem;
}
